*{
    height: auto;
    width: auto;
}

body {
    background-image: url(../assets/background.jpg)
    height:100vh;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.container {
    align-items: center;
    height: 100%;
    width: 100%;
}

.imagen1 {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
    padding: 10px;
    padding-left: 120px;
}

.imagen2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen3 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    transition: .5s;
}

.imagen2:hover {
    transform: scale(02);
}

.imagen2 {
    transition: all 0.5s linear;
}

/*@media only screen and (max-width: 768px) {
       /* For mobile phones: */
/*  [class*="col-"] {
           width: 100%;
       }*/